// Base colors definitions
$blue: #78909C !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #EF5350 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #66BB6A !default;
$teal: #20c997 !default;
$cyan: #29B6F6 !default;

@import '~bootstrap';
@import '~bootstrap-vue';

