.ui.cards {
    overflow-y: visible;
}

.ui.card {
    margin-left: 1.2rem !important;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.15) !important;
    min-width: 340px !important;
    min-height: 200px !important;
}

.ui.card:hover {
    cursor: pointer;
}

.ui.card>.content>.header {
    color: #ffffff !important;
}

.ui.card>.content>.meta {
    color: #ffffff !important;
    padding-bottom: 0.4rem !important;
    padding-right: 32px !important;
    opacity: 0.7;
}

.ui.card>.content>.description {
    color: #ffffff !important;
    padding-top: 10px;
}

.ui.card>.content>.description>.item {
    margin-bottom: 0.5rem;
}

.ui.card>.content>.description>.item>.icon {
    opacity: 0.8;
    margin-right: 0.7rem;
}

.ui.card>.extra {
    color: #ffffff !important;
}